label
{
    color: aqua;
}

table
{
     border: 5px dashed red ;
     border-radius: 10px;    
}

#lastname{
    color: chocolate;
}



body > p
{
    font-style: italic;
}
.parent
{
    border: 2px dashed red;
    
}